<a href="https://colab.research.google.com/github/mahadev-k-anil/python-tutorial/blob/main/Conditional_statements_day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x= 2
y=3
z= (x**2)+(y**2)
print(z)

13

In [ ]:
print("Enter first value")
x= int(input())
y = int(input())
z= x+y
print(f"the sum is {z}")

Enter first value
1
2
the sum is 3

In [ ]:
print("Enter first value")
x= int(input())
print("Enter second value")
y = int(input())
z= (x**2)+(y**2)
print(z)

Enter first value
2
Enter second value
3
13

In [ ]:
a = 5
b = 7
if a>b:
  print(f'{a} is greater than {b}')
  # print('%d is greater than %d'%(a,b))
else:
  print(f'{b} is greater than {a}')
  # print('%d is greater than %d'%(b,a))

7 is greater than 5

In [ ]:
print(" Enter first number: ")
a = int(input())
print(" Enter second number: ")
b = int(input())
if a>b:
  print(f'{a} is greater than {b}')
elif b>a:
  print(f'{b} is greater than {a}')
else:
  print(f'{a} is equal to {b}')

 Enter first number:
5
 Enter second number:
6
6 is greater than 5

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

In [ ]:
print("Enter the number")
n = int(input())
for i in range(n):
  for j in range(1,i+2):
    print(j,end=' ')
  print("")

Enter the number
10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
print("enter first number")
x= int(input())
print("enter second number")
y = int(input())
print("enter third number")
z = int(input())
if x>y and x>z:
  print(f'{x} is the largest')
elif y>x and y>z:
  print(f'{y} is the largest')
else:
  print(f'{z} is largest')

enter first number
7
enter second number
5
enter third number
3
7 is the largest