<a href="https://colab.research.google.com/github/mahadev-k-anil/python-tutorial/blob/main/Copy_of_Introduction_to_Python_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Strings

Defined using single or double quotes

In [ ]:
a = "Hello World"
print(a[0]) #indexing
print(a)
print(type(a))

H
Hello World
<class 'str'>

String Slicing

In [ ]:
print(a[1:])#slice to the end [start index:end index:step]
print(a[-1])#negative indexing
print(a[:-1])
print(a[2:9]) #slicing 2 to 4(not included)
print(a[::-1])#slice with step as -1

NameError: name 'a' is not defined

#String methods

find() Searches the string for a specified value and returns the position of where it was found
string.find(value, start, end)

upper() Converts a string into upper case

lower() Converts a string into lower case

title() Converts the first character of each word to upper case

replace() Returns a string where a specified value is replaced with a specified value
print(a.replace("H", "J"))

capitalize() Converts the first character  to upper case

split() method splits the string into substrings if it finds instances of the separator

To concatenate, or combine, two strings you can use the + operator.

Refer:https://www.w3schools.com/python/python_strings_methods.asp

In [ ]:
string1="python is very efficient"
print(len(string1))
print(string1.upper())
for x in string1.split(" "):
  print(x)

24
PYTHON IS VERY EFFICIENT
python
is
very
efficient

In [ ]:
string1.find("ent")

21

In [ ]:
str2 =  string1.capitalize()
print(str2)

Python is very efficient

Questions

1)Program to Check Whether a String is Palindrome or Not

2)Read a sentence from user , replace  spaces with the length of the string and display output in uppercase.

3)Read a sentence from the user and capitalize the second-last letter of each word and print the modified sentence.

Eg: Input sentence -> Python is meant to be an easily readable language

Modified Sentence-> PythOn Is meaNt To Be An easiLy readabLe languaGe

4 collection data types

# Lists
used to store multiple items in a single variable.

Mutable,allow duplicate values.

In [ ]:
a = []
b = [1, 2, 3]

print("a = ", a, "b = ", b)
b[1]=11
print(b)


list1 = ["abc", 34, True, 40, "male"]
print(list1)

a =  [] b =  [1, 2, 3]
[1, 11, 3]
['abc', 34, True, 40, 'male']

# List methods

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

count()	Returns the number of elements with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

https://www.w3schools.com/python/python_lists_methods.asp

In [ ]:
a.append(10)
b.append(12)


print("a = ", a, "b = ", b)

a =  [10] b =  [1, 11, 3, 12]

In [ ]:
b=[1,2,3,4,5]
b[2:3]=[10,20,30]
print(b)

[1, 2, 10, 20, 30, 4, 5]

In [ ]:
# Length of a list
len(b)

4

In [ ]:
len(a)

1

In [ ]:
len([])

0

## Looping through elements of a list
zip function:zip(iterator1, iterator2, iterator3 ...)
zip() function stops when anyone of the list of all the lists gets exhausted.

In [ ]:
b=["aa","bb","cc"]
for i in b:
    print(i)

aa
bb
cc

In [ ]:
# Iterate through two lists:
c = [11, 12, 13, 14]
d = [101, 102, 103,104]

for i, j in zip(c, d):
    print("c = ", i, "d = ", j)

c =  11 d =  101
c =  12 d =  102
c =  13 d =  103
c =  14 d =  104

## Tuples

Tuples are similar to lists, but they are immutable. If you try to change an element of a tuple, you will get an error.
Allow duplicate values.

In [ ]:
r = (3.2, 56)
print(r[0])

s = ("hello", "world")
print(s[1])

3.2
world

In [ ]:
r[1] = 190

TypeError: ignored

In [ ]:
r = (3.2, 56)
x=list(r)
print(type(r))
x.append(100)
r=tuple(x)
print(r)

<class 'tuple'>
(3.2, 56, 100)

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple .

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

Two built-in functions for tuples:

count()	Returns the number of times a specified value occurs in a tuple
Syntax:tuple.count(value)

index()	Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3


# **List Comprehension**
List comprehension is a concise way to create lists in Python by applying an expression to each element in an iterable, optionally including a condition for filtering elements.

Syntax: newList = [ expression(element) for element in oldList if condition ]

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared = [x ** 2 for x in numbers if x>3]
print(squared)

[16, 25]

In [ ]:
List = [character for character in [1, 2, 3]]


print(List)

[1, 2, 3]

In [ ]:
list = [i for i in range(11) if i % 2 == 0]
print(list)

[0, 2, 4, 6, 8, 10]

Question

4) Given a list of temperatures in Celsius [0, 10, 20, 30, 40], use a list comprehension to convert them to Fahrenheit

## Questions
5) Write a function which takes in a list of numbers and returns the average.

6) Write a function which takes in a list of numbers and returns both its minimum and maximum.

7) Write a function which takes in a list and an element and searches for the element in the list. If the element is present in the list, return its index. Otherwise, return $-1$.

8) Write a function which accepts three lists(same length) and returns a list of sums of the corresponding elements.
If the inputs are [3, 1, 3], [1, 4, 8], [1, 1, 2], the output should be [5, 6, 13].

9)In the previous question, if the lists are of unequal lengths, what happens? Change your program to make sure that even if some of the lists are exhausted, the output continues with the sum of the elements of the rest of the lists.

#Modules
A file containing a set of functions you want to include in your application.
When using a function from a module, use the syntax:

import module_name
module_name.function_name.

# Dictionary

The Hash data structure is known as dictionary in Python. A dictionary maps keys to values.
Mutable.Let us see an example.

In [ ]:
dict={
  "brand": "Honda",
  "model": "Civic",
  "year": 2000
}
print(dict)

{'brand': 'Honda', 'model': 'Civic', 'year': 2000}

In [ ]:
x = dict["model"] #access dictionary item
x = dict.get("model")
print(x)
x = dict.keys() #get the keys
print(x)

Civic
dict_keys(['brand', 'model', 'year'])

In [ ]:
h = {} # Empty dictionary
h['India'] = 'New Delhi'
h['United States'] = 'Washington, D.C.'
h['Japan'] = 'Tokyo'

print(h)

{'India': 'New Delhi', 'United States': 'Washington, D.C.', 'Japan': 'Tokyo'}

In [ ]:
# Let us print the dictionary in a nicer way
for k in h:
    print("Capital of", k, "is", h[k])

Capital of India is New Delhi
Capital of United States is Washington, D.C.
Capital of Japan is Tokyo

Keys can be any *immutable* data types, like integers, strings etc. Next we will see a dictionary with integers and strings as keys.

In [ ]:
h2 = {}
h2[123] = 10
h2[89] = 'eighty nine'
h2['one two three'] = 123
print(h2)

{123: 10, 89: 'eighty nine', 'one two three': 123}

As you can see, the keys (and values) can of different types. The same is the case with Lists.

In [ ]:
onelist = ['one', 2, 'three']

In [ ]:
print(onelist)

The values of a dictionary can be *mutable*.

In [ ]:
dict={"car":"BMW","year":2021}

print(dict)

{'car': 'BMW', 'year': 2021}

In [ ]:
dict.update({"year": 2020})
print(dict)

{'car': 'BMW', 'year': 2020}

##Looping in dictionaries

In [ ]:
for x in dict: #loops through keys
  print(x)

for x, y in dict.items(): #loops through keys and values
  print(x, y)

car
year
car BMW
year 2020

##Dictionary methods
values()	Returns a list of all the values in the dictionary

pop()	Removes the element with the specified key

popitem()	Removes the last inserted key-value pair

https://www.w3schools.com/python/python_dictionaries_methods.asp

### Questions
9) Write a function which accepts a number $n$ and returns a hash which maps integers from $1$ to $n$ to their squares.

n=5
{1:1,2:4,3:9,4:16,5:25}


10) Write a function which accepts a list of strings and returns a dictionary mapping each string to its length.

11) Write a function which takes a list as input and returns a dictionary mapping each list element into the number of times the element appears in the list. For example, if the input list is $[1, 2, 1, 3, 2, 5, 1]$, the dictionary should map $1$ to $3$, $2$ to $2$, $3$ to $1$ and $5$ to $1$.

#Practice questions:
1)Read an array of numbers. Read two numbers a1 and a2. Prints the elements in the array that are exactly divisible by both a1 and a2.

2)Read an array of numbers. Repeat the ith element (i-1) times in the array. Print the modified
array, size and sum of its elements.

Eg:
Input array -> [2, 5, 7, 1]
Modified array -> [ 2, 5, 5, 7, 7, 7, 1, 1, 1, 1]
Size -> 10
Sum -> 37

3)Read an array of numbers, read upper bound and lower bound. Print the numbers in the
array that are within the given boundary and its average.

Eg:
Input array -> [ 13, 6, 23, -5, 34, 2, 34, 7, -5, 28, 5, 8]
Lower bound -> 10
Upper bound -> 28
Numbers within the boundary -> 13, 23, 28
Average -> 21.33

4)Read a number and a bit position. If the ith bit is 1, replace it with (i+1)th bit, otherwise no change. Print the new number
(Hint:use bit operators)

Eg:
Number: 23 (binary : 10111)
Position : 2
Here, bit position 2 (from right to left starting with bit position 0) is 1, so it has to be replaced with
bit at bit position 3, which is 0. So, the modified number in binary is (10011)
So the answer is 19

5)Write a function which accepts a list of numbers and a threshold number. The function returns a new list containing 1s and 0s. The $i$th entry of the new list is $1$ if the $i$th entry of the old list is greater than or equal to threshold, and $0$ otherwise. An example: if the inputs are $[10, 2, 5, 8]$ and if the threshold is $5$, the output should be $[1, 0, 1, 1]$.

6) Prepare student records with following fields {Name, Roll No, Number of right answers, Number of wrong answers} Calculate the net score using the formula Score = Number of right answers x 4 - Number of wrong answers Read Cut-off mark from the user and print the list of students who cleared cut-off

#Files
Python has several functions for creating, reading, updating, and deleting files.

In [ ]:
f = open("/content/drive/MyDrive/Python class/testfile.txt", "r")#r,w,a,x
print(f.read())
f.close()

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Python class/testfile.txt'

In [ ]:
f = open("/content/drive/MyDrive/Python class/test.txt", "a+") #r,w,a,x(creation)
f.write("bye\n")
f.close()
f = open("/content/drive/MyDrive/Python class/test.txt", "r")
print(f.read())
f.close()

bye
bye
bye
bye
bye
bye

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
with open("/content/drive/MyDrive/Python class/testfile.txt","r") as f:
  print(f.read())
#the file will be closed

hello Python is much more efficient that you think.
Really it is.

#Questions
12)Write a function in Python to count and display the total number of words in a text file.